* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    height: 100px;
    background-color: #B2D6FF;
    /* Medium blue */
}

.sidebar {
    width: 200px;
    /* Add this */
    height: 300px;
    background-color: #F09A9D;
    /* Red */
    float: left;
    /* Add this */
    /* float: none;   /* Revert to default flow */
}

.content {
    height: 500px;
    width: 650px;
    /* Add this */
    background-color: #F5CF8E;
    /* Yellow */
    float: left;
    /* Add this */
}

.footer {
    /* height: 200px; */
    background-color: #D6E9FE;
    /* Light blue */
    clear: both;
    overflow: hidden;
    /* Clear floats */
}

.page {
    width: 900px;
    margin: 0 auto;
    /* Add this */
}

.container {
    background-color: #EAEDF0;
    /* Add this */
    overflow: hidden;
    /* Fixing floats clear in parent containter*/
    border: 1px solid red;
}

.column {
    float: left;
    width: 31%;
    margin: 20px 1.15%;
    height: 160px;
    background-color: #B2D6FF;
    /* Medium blue */
}

.content {
    padding: 20px;
}

.article-image {
    float: left;
    width: 300px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.avatar {
    float: left;
    width: 60px;
    height: 60px;
    margin: 25px;
    border-radius: 40px;
    background-color: #D6E9FE;
}

.username {
    margin-top: 30px;
}

.comment {
    margin: 10px;
    overflow: hidden;
    /* This is important */
}
